Language: Cpp
BasedOnStyle: Google
AttributeMacros: [
  'STDEXEC_SYSTEM_CONTEXT_INLINE'
]
BreakBeforeBinaryOperators: NonAssignment
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
DerivePointerAlignment: true
ExperimentalAutoDetectBinPacking: true
IncludeBlocks: Preserve
Standard: c++20
StatementMacros: [
  'STDEXEC_MEMFN_DECL(X)=X',
  'STDEXEC_MEMFN_DECL(X,Y)=X,Y',
  'STDEXEC_MEMFN_DECL(X,Y,Z)=X,Y,Z',
  'STDEXEC_ATTRIBUTE(X)=__attribute__(X) //',
  'STDEXEC_NO_UNIQUE_ADDRESS=[[no_unique_address]]',
  'STDEXEC_IMMOVABLE_NO_UNIQUE_ADDRESS=[[no_unique_address]]',
  'STDEXEC_MISSING_MEMBER(X,Y)=true',
  'STDEXEC_DEFINE_MEMBER(X)=void foo() {}'
]
TabWidth: 0
TypenameMacros: []
UseTab: Never
